.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 260px;
  height: 500px;
  margin: 50px auto;
  color: #ffffff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #29363B;
  flex: 1 0;
  flex-flow: column;
  align-content: flex-end;
  width: 100%;
}
.header div {
  text-align: right;
  box-sizing: border-box;
  word-wrap: break-word;
}
.header #upperDisplay {
  font-size: 30px;
  color: #70797c;
  flex: 1 0 30%;
  padding: 20px 20px 0px 20px;
}
.header #mainDisplay {
  font-size: 55px;
  color: #ffffff;
  flex: 1 0 70%;
  padding: 0px 20px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 2 0;
}
.inputs input {
  border: none;
  border-top: 1px solid #00000038;
  color: #ffffff;
  background: none;
  margin: 0px;
  font-size: 22px;
}
.inputs input:focus {
  outline: 0;
}
.inputs .leftColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 3 1;
  order: 1;
}
.inputs .leftColumn #actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1;
  order: 1;
  background-color: #EC475C;
}
.inputs .leftColumn #actions #acButton {
  flex: 1 0 33%;
}
.inputs .leftColumn #actions #saveButton {
  flex: 2 0 66%;
}
.inputs .leftColumn #numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 4 1;
  order: 2;
  background-color: #F68179;
}
.inputs .leftColumn #numbers input {
  flex: 1 0 33%;
}
.inputs .rightColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1;
  order: 2;
}
.inputs .rightColumn #operators {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 0;
  order: 2;
  background-color: #F7BA86;
}
.inputs .rightColumn #operators input {
  flex: 1 0 20%;
}

/*# sourceMappingURL=style.css.map */
