$text-color: #ffffff;
$actions-calc-color: #EC475C;
$numbers-calc-color: #F68179;
$operators-calc-color: #F7BA86;
$dark-calc-color: #29363B;
$border-color: #00000038;
@mixin flex-container($direction) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
}
.calculator{
    @include flex-container(column);
    width: 260px;
    height: 500px;
    margin: 50px auto;
    color: $text-color;
}
.header{
    @include flex-container(column);
    background-color: $dark-calc-color;
    flex: 1 0;
    flex-flow: column;
    align-content: flex-end;
    width: 100%;
    div{
        text-align: right;
        box-sizing: border-box;
        word-wrap: break-word;
    }
    #upperDisplay{
        font-size: 30px;
        color: #70797c;
        flex: 1 0 30%;
        padding: 20px 20px 0px 20px;

    }
    #mainDisplay{
        font-size: 55px;
        color: $text-color;
        flex: 1 0 70%;
        padding: 0px 20px; 
    }
}
.inputs{
    @include flex-container(row);
    flex: 2 0;
    input{
        border: none;
        border-top: 1px solid $border-color;
        color: $text-color;
        background: none;
        margin: 0px;
        font-size: 22px;
        &:focus{
            outline:0;
        }  
     }
     .leftColumn{
        @include flex-container(column);
        flex: 3 1;
        order: 1;
        #actions{
            @include flex-container(row);
            flex: 1 1;
            order: 1;
            background-color: $actions-calc-color;
            #acButton{
                flex: 1 0 33%;
            }
            #saveButton{
                flex: 2 0 66%;
            }
         }
         #numbers{
            @include flex-container(row);
            flex: 4 1;
            order: 2;
            background-color: $numbers-calc-color;
            input{
                flex: 1 0 33%; 
            }
        }        
    }
    .rightColumn{
        @include flex-container(column);
        flex: 1 1;
        order: 2;
        #operators{
            @include flex-container(column);
            flex: 1 0;
            order: 2;
            background-color: $operators-calc-color;
            input{
                flex: 1 0 20%; 
            }
        }
    }
}